<ion-header>
  <ion-navbar>
    <ion-title>
      About
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding >
<p>Progressive Web Apps (PWAs) take advantage of major advances in
  modern web browsers, web APIs, and front-end frameworks to deliver
  great app experiences to mobile and desktop users. Big brands like
  Twitter and Pinterest are demonstrating how PWAs can boost user
  acquisition, engagement, and ultimately, revenue.
  <br>
  <br>
  But PWAs are not a silver-bullet. They work best as part of a broader
  app strategy that focuses on creating a consistent, high-quality user
  experience across all the channels that your users want to engage
  with you.</p>
</ion-content>
