<ion-header>
  <ion-navbar>
    <ion-title>
      Spring Apps 
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-list class="see-through">
    <ion-list-header>Get in Contact with us</ion-list-header>
    <ion-item>
      <ion-icon name="mail" item-start></ion-icon>
      info@spring-apps.com
    </ion-item>
    <ion-item>
      <ion-icon name="call" item-start></ion-icon>
      +27 (83) 564 8327
    </ion-item>
    <ion-item text-wrap>
      <ion-icon name="home" item-start></ion-icon>
      86 Smit Street, Fairland, Randburg, 2030
    </ion-item>
  </ion-list>
</ion-content>
