<ion-header>
  <ion-navbar>
    <ion-title>Home</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <div align="center">
    <img src="assets/imgs/SoCap.png" alt="SoCap">
  </div>
  <br>
  <p>Cutting edge stuff starts with cutting the edge, you ready?</p>
  <br>
  <div align="center">
    <button ion-button block color="secondary" large style="font-size: 30px" (click)="yes()" id="yes">YES</button>
    <button ion-button block color="danger" small [disabled]="noClicked" (click)="noClicked = true">NO</button>
  </div>
  <br>
  <br>
  <div align="center" [hidden]="goodChoiceHidden" class="good-choice-image">
    <img src="assets/imgs/good_choice.jpg" alt="SoCap">
  </div>
</ion-content>
