page-home {
  @keyframes good-choice-animation {
    0% {
      position: relative;
      top: 150px
    }
    //50% {
    //  background-color: blue;
    //}
    100% {
      position: relative;
      top: 0px
    }
  }

  .good-choice-image {
    animation-name: good-choice-animation;
    animation-duration: 3s;
  }

}
